.scrollbar {
	&--track {
		background: lightgrey;
	}
	&--bar {
		background: grey;
	}
}

p {
	white-space:nowrap;
}

.section {
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin: 20px;
	border: 1px solid grey;

	&-maxHeight {
		max-height: 200px;
		height: auto;
	}
}